HireMe/HireMe.WcfClient/Service References/WcfServices.Customer/Customer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HireMe.DataAccess" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HireMe.DataAccess" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/HireMe/Customer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/HireMe/Customer?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CustomerDto">
    <xs:sequence>
      <xs:element name="_x003C_EmailAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ReviewIds_x003E_k__BackingField" nillable="true" type="q1:ArrayOfguid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDto" nillable="true" type="tns:CustomerDto" />
  <xs:complexType name="ArrayOfCustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerDto" nillable="true" type="tns:CustomerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerDto" nillable="true" type="tns:ArrayOfCustomerDto" />
</xs:schema>